html {
    height: 100%;
}

body {
    background-color: whitesmoke;
    height: 100%;
}

.container-fluid {
    height: 100%;
}

h2,
h5 {
    padding: 2%;
}

.row.content {
    height: 100%;

}

.btn {
    font-size: 15px;
    margin-top: 2.5%;
}

#divAuthor {
    text-align: center;
}

.sidenav {
    background-color: powderblue;
    height: 100%;
}

#divPost,
.sidenav {
    text-align: center;
}

p.capitalize,
h2.capitalize {
    text-transform: capitalize;
}

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
}