.navbar {
  background-color: powderblue;
}

.list-group-item {
  background-color: whitesmoke;
  color: black;
  text-decoration: none;
}

.list-group-item:hover {
  background-color: lightblue;
  color: black;
  text-decoration: none;
}

.nav-link {
  color: black;
}

.nav-link:hover {
  color: whitesmoke;
}

.navbar-brand {
  color: black;
  font-weight: bold;
  font-size: 2em;
}

.navbar-brand:hover {
  color: whitesmoke;
}

.navbar-toggler {
  border: solid 2px whitesmoke;
  font-size: 25px;
}

body {
  background-color: whitesmoke;
}